{% extends "header.html" %} {% block body %}

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {


        var namespace = '/chat';
        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect('https://' + document.domain + ':' + location.port + namespace);
        // var socket = io.connect('https://hizhh.me:8000/chat');



        // when connection is established successfully, send a message to server
        socket.on('connect', function () {
            socket.emit('my_event', 'User has connected!');
        });

        //https://stackoverflow.com/questions/10437584/socket-io-reconnect

        socket.on('disconnect', function () {
            socket.emit('my_event', 'User has disconnected!');
        });

        socket.on('my_response', function (msg) {
            $("#messages").append('<li>' + msg + '</li>');
            console.log('Received message');
        });


        $('#sendbutton').on('click', function () {
            socket.emit('my_event', $('#myMessage').val());
            $('#myMessage').val('');
        });

        // $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());

    });
</script>

<div class="container-fluid" style="max-width: 80%">
    <!--<form id="emit" method="POST" action='#'>-->
    <!--<input type="text" name="emit_data" id="emit_data" placeholder="Message">-->
    <!--<input type="submit" value="Echo">-->
    <!--</form>-->
    <!--<form id="broadcast" method="POST" action='#'>-->
    <!--<input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">-->
    <!--<input type="submit" value="Broadcast">-->
    <!--</form>-->

    <!--<form id="disconnect" method="POST" action="#">-->
    <!--<input type="submit" value="Disconnect">-->
    <!--</form>-->
    <!--<div id="log"></div>-->
    <input type="text" id="myMessage">
    <button id="sendbutton">Send</button>
    <ul id="messages"></ul>

</div>


{% endblock %}